* {
    font-size: 20px;
    padding: 0px;
    margin: 0px;
    color: #454839 !important;
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
    border-bottom: solid #27897E 2px;
}

h1 {
    font-size: 40px;
    font-weight: 400;
    padding-bottom: 10px;
    margin: 10px;
    border-bottom: solid #FFA17A 2px;
    font-family: 'Montserrat';
    background-color: #FFA17A;
}

h2 {
    background-color: #FFA17A;
    font-weight: 400;
}

h3 {
    font-weight: 400;
    margin: 15px;
}

h5 {
    text-align: center;
    background-color: #FFA17A;
}

a {
    text-decoration: none;
}

li {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    padding-right: 35px;
    font-weight: 400;
    letter-spacing: 2px;
    font-family: 'Montserrat';
}

ul ul {
    position: absolute;
    display: none;
}

ul ul li {
    display: flex;
    font-weight: 400;
    padding: 1px;
    border: 2px solid #FFA17A;
    background-color: white;
    position: relative;
}

ul li:hover ul {
    display: block;
    background-color: white;
    padding: 5%;
    border-radius: 1%;
    z-index: 1 !important;
    text-align: initial;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.subrayado {
    border-bottom: solid #FFA17A 2px;
}

.imagen-y-texto {
    text-align: center;
    margin: 45px;
    padding-top: 75px !important;
    padding-bottom: 0px !important;
}

.logo {
    margin-top: 10px;
}

.index-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
}

.center-items {
    text-align: center;
    align-items: center;
}

.carrusel {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 4 !important;
}

.lead {
    font-size: 26px !important;
    font-style: italic;
}

.btn {
    margin: 7px;
    background-color: none !important;
    border: solid #FFA17A 2px;
    animation-duration: 3s;
    font-size: 18px;
}

.aparecer {
    animation-duration: 3s;
    animation-name: aparecer;
}

.border-radius {
    border-radius: 5%;
    height: 300px;
    margin: 25px;
}

.contenido-carrusel {
    max-width: 450px;
    min-width: 450px;
    max-height: 450px;
    min-height: 450px;
    margin: 35px;
    grid-area: uno;
}

.contenido-texto {
    max-width: 450px;
    min-width: 450px;
    max-height: 200px;
    min-height: 200px;
    margin: 35px;
    text-align: center;
}

.imagen {
    border-radius: 1%;
}

.letter {
    font-family: 'Cinzel' !important;
    font-size: 42px;
}

.letter2 {
    font-family: 'Cinzel' !important;
    font-size: 24px;
}

.textos {
    font-family: 'Montserrat';
    text-align: center;
}

.text-tienda {
    border-bottom: solid #27897E 2px;
}

.texto-footer {
    text-align: center;
    color: white;
    font-size: 14px;
}

.ubicacion {
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
}

a:hover {
    font-weight: bold;
    opacity: 95%;
    transition: .1s;
}

.redes {
    width: 50px;
    height: 50px;
    margin: 10px;
}

.mensaje {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.formulario {
    border-radius: 1%;
    border: solid 2px #27897E;
    padding: 2%;
    margin-bottom: 2%;
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
}

.botoncito {
    display: flex;
    justify-content: center !important;
}

.home {
    display: flex;
    flex-direction: column;
}

.in-flex {
    flex: 1;
    margin: 20px;
    min-width: 250px;
    font-family: 'Montserrat';
}

.in-flex:first-child {
    flex: 2;
    padding: 25px;
    margin-bottom: 0px;
}

.in-flex div {
    padding: 25px;
}

.home2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.in-flex2 {
    flex: 1;
    min-width: 250px;
    font-family: 'Montserrat';
}

.in-flex2:first-child {
    flex: 2;
    padding: 25px;
    margin: 20px;
}

.in-flex2 div {
    padding: 25px;
}

.medida {
    text-align: center;
    max-width: 390px;
}

.in-flex3 {
    min-width: 250px;
    font-family: 'Montserrat';
}

.home3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.modal-dialog-centered img {
    overflow: visible;
    min-height: 600px;
}

.card {
    margin: 10px;
    max-height: 900px;
}

.card-body {
    text-align: center;
}

.card-body a {
    font-weight: 700;
}

.mb-3 {
    text-align: center !important;
}

.form-group {
    text-align: center !important;
    padding-bottom: 25px;
}

.form-control {
    text-align: center !important;
    margin-top: 7px;
    width: 400px;
    margin: 7px;
}

.form-inline {
    text-align: center;
}

.form-group {
    text-align: center;
}

.btn {
    font-family: 'Montserrat' !important;
    margin: 20px;
}

.btn-outline-secondary:hover {
    background-color: #FFA17A;
    color: #27897E !important;
    font-weight: 700;
}

.carousel-control-prev {
    display: none;
}

.carousel-control-next {
    display: none;
}

.nav-link {
    font-size: 16px;
}

#item-ubicacion {
    color: #FFA17A;
    font-size: 16px;
}

#pie-footer {
    width: 100%;
    height: auto;
}

#footer {
    width: 100%;
    height: auto;
    padding-top: 10px;
    margin-top: 35px;
    margin-bottom: 0px;
    border-top: solid 2px #27897E;
}

#galeria .col-lg-4 {
    padding: 25px;
    margin: 0px;
}

#galeria img {
    width: 100%;
    height: 350px;
}

#galeria img:hover {
    border: 5px solid #FFA17A;
}

#tienda span:hover {
    background-color: #FFA17A;
    font-size: 120%;
    animation-duration: .3s;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}

@media (min-width: 360px) and (max-width: 767px) {
    header ul {
        text-align: center !important;
        padding-right: 5px;
        padding-left: 0%;
    }

    img {
        max-width: 15rem;
    }

    h1 {
        font-size: 22px;
    }

    section {
        font-size: 14px;
    }

    .home2 {
        flex-direction: column !important;
        align-items: center;
    }

    .home3 {
        flex-direction: column;
        justify-content: center !important;
    }

    .formulario {
        margin-top: 15px !important;
        padding: 0px;
        margin: 0px;
        overflow: hidden;
    }

    .mensaje {
        padding: 0px !important;
    }

    .letter {
        font-size: 26px;
    }

    .contenido-carrusel {
        padding-bottom: 500px;
        margin: 0px;
        padding-right: 120px;
    }

    .border-radius {
        margin-right: 0px;
        margin-left: 0px;
    }

    .contenido-texto {
        margin: 0px;
        max-height: 120px !important;
    }

    .in-flex {
        margin: 5px;
    }

    .in-flex3 {
        align-items: center !important;
        margin-top: 30px;
    }

    .medida {
        max-width: 150px;
        padding: 0px !important;
        margin-bottom: 0px !important;
    }

    .lead {
        font-size: 22px !important;
        max-width: 16rem;
        text-align: center;
        margin: 0px;
    }

    .card {
        align-items: center;
        padding-right: 45px;
        padding-left: 0px;
        border: 0px;
    }

    .imagen-y-texto {
        margin: 0px;
        padding-top: 0px !important;
    }

    .form-control {
        width: 97%;
    }

    .modal-dialog-centered img {
        overflow: visible;
        min-height: 550px;
    }

    .index-content h2 {
        margin-top: 10px;
        margin-bottom: 25px;
    }
}

@media (min-width:768px) and (max-width: 768px) {
    header {
        text-align: center;
    }

    img {
        max-width: 25rem;
    }

    h1 {
        font-size: 40px;
    }

    section {
        font-size: 28px;
    }

    .home3 {
        justify-content: center !important;
    }

    .formulario {
        margin: 5px;
    }

    .home2 {
        flex-direction: column !important;
        align-items: center;
    }

    .letter {
        font-size: 42px;
    }

    .contenido-carrusel {
        padding-bottom: 500px;
    }

    .imagen-y-texto {
        margin: 0px;
        padding-top: 0px !important;
    }

    .contenido-texto {
        margin: 0px
    }

    .in-flex {
        margin: 5px;
    }

    .medida {
        padding: 0px !important;
        margin-bottom: 0px !important;
    }
}