* {
    font-size: 20px;
}
* {
    color: #454839 !important;
}

.card {
    margin: 10px;
    max-height: 900px;
}

.card-body {
    text-align: center;
}

.card-body a {
    font-weight: 700;
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
    grid-area: header;
    border-bottom: solid #27897E 2px;
}

h1 {
    font-size: 40px;
    font-weight: 400;
    padding-bottom: 10px;
    margin: 10px;
    border-bottom: solid #FFA17A 2px;
    animation-duration: 4s;
    font-family: 'Montserrat';
}

h2 {
    font-weight: 400;
}

h3 {
    font-weight: 400;
    margin: 15px;    
}

h5 {
    text-align: center;
    background-color: #FFA17A;
}

a {
    text-decoration: none;
}

li {
    display:inline-block;
    position: relative;
    padding-left:35px;
    padding-right:35px;
    font-weight: 400;
    letter-spacing: 2px;
    font-family: 'Montserrat';
}

ul ul {
    position: absolute;
    display: none;
}

ul ul li {
    display: flex;
    font-weight: 400;
    padding: 1px;
    border: 2px solid #FFA17A;
    background-color: white;
}

ul li:hover ul {
    display: block;
    background-color: white;
    padding: 5%;
    border-radius: 1%; 
    z-index: 1;
    text-align: initial;
}

.container {
    max-width: 1200px; 
    margin: auto;
}

.letra {
    font-family: 'Cinzel';
    font-weight: 400;
}

.letra2 {
    font-family: 'Cinzel';
    font-size: 14px;
}

.footer__margin {
    margin: 5px;
}

.subrayado {
    border-bottom: solid #FFA17A 2px;
}

.test {
    text-align: center;
    margin: 45px;
}

.logo {
    margin-top: 10px;
}

.cuerpo__contenido {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-area: contenido;
} 

.cuerpo__contenido2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} 

.index-contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
}

.puan {
    text-align: center;
    align-items: center;
}

.carrusel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aparecer {
    animation-duration: 4s;
    animation-name: aparecer;
}

.lead {
    font-size: 26px !important;
    font-style: italic;
    animation-duration: 4s;
}

.btn {
    margin: 7px;
    background-color: none !important;
    border: solid #FFA17A 2px;
    animation-duration: 3s;
    font-size: 18px;
}

.objetivos__forma {
    padding: 30px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aparecer {
    animation-duration: 3s;
    animation-name: aparecer;
}

.contenidos {
    display: grid;
    align-items: center;
}

.border__radius {
    border-radius: 100%;
    height: 200px;
    margin: 25px;
}

.contenido__carrusel {
    max-width: 450px;
    min-width: 450px;
    max-height: 450px;
    min-height: 450px;
    margin: 35px;
    grid-area: uno;
}
.contenido__texto {
    max-width: 450px;
    min-width: 450px;
    max-height: 200px;
    min-height: 200px;
    margin: 35px;
    text-align: center;
    grid-area: dos;
}

.tienda__margin {
    margin-top: 45px;
    margin-bottom: 45px;
}

.imagen {
    border-radius: 1%;
}

.centro {
    text-align: center;
    margin: 45px;
}

.letra {
   font-family: 'Cinzel' !important;
    font-size: 42px;
}

.letra2 {
    font-family: 'Cinzel' !important;
    font-size: 24px;
}

.textos {
    font-family: 'Montserrat';
    text-align: center;
}

.texto-tienda {
    border-bottom: solid #27897E 2px;
}

.mb-3 {
    text-align: center !important;
}

.form-group {
    text-align: center !important;
    padding-bottom: 25px;
}

.form-control {
    text-align: center !important;
    margin-top: 7px;
    width: 400px;
    margin: 7px;
}

.form-inline {
    text-align: center;
}

.form-group {
    text-align: center;
}

.btn {
    font-family: 'Montserrat' !important;
    margin: 20px;
}

.btn-outline-secondary:hover {
    background-color: #FFA17A;
    color: #27897E !important;
    font-weight: 700;
}

.carousel-control-prev {
    display: none;
}

.carousel-control-next {
    display: none;
}

.texto-footer {
    text-align: center;
    color: white;
    font-size: 14px;
}

.nav-link {
    font-size: 16px;
}

.ubicacion {
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
}

#item-ubicacion {
    color: #FFA17A;
    font-size: 16px;
}

#pie-footer {
    width: 100%;
    height: auto;
}

#footer {
    width: 100%;
    height: auto;
    padding-top: 10px;
    margin-top: 35px;
    margin-bottom: 0px;
    border-top: solid 2px #27897E;
}

#galeria .col-lg-4 {
    padding: 25px;
    margin: 0px;
}

#galeria img {
    width: 100%;
    height: 350px;
}

#galeria img:hover {
    border: 5px solid #FFA17A;
}

#tienda span:hover {
    background-color: #FFA17A;
}

@keyframes aparecer {
    0% { opacity: 0;
        }
    100% { opacity: 100;
    }
}

a:hover {
    font-weight: bold;
    opacity: 95%;
    transition: .1s;
  }

.redes {
    width: 50px;
    height: 50px;
    margin: 10px;
}

.mensaje {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.formulario {
    border-radius: 1%;
    border: solid 2px #27897E;
    padding: 2%;
    margin-bottom: 2%;
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;   
}

.botoncito {
    text-align: start  !important;
}

.index-contenido2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
}