

li {
    display:inline-block;
    position: relative;
    padding-left:25px;
    padding-right:25px;
    font-size: large;
    font-family: 'Cinzel';
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 15px;
    animation-duration: 4s;
    animation-name: aparecer;
}

ul{
    ul {
        position: absolute;
        display: none;
        li {
            display: block;
            font-weight: 400;
            padding: 1px;
            border: 2px solid #27897E;
            }
        }
}

#galeria {
    img:hover {
        border: 5px solid #f7f7f7;
    }
}

// @mixin font-cinzel {
//     font-family: 'Cinzel';
// }

// li {
//     @include font-cinzel()
// }

// .letra {
//     @include font-cinzel()
// }

// .letra2 {
//     @include font-cinzel()
// }